<div>
  <form [formGroup]="contentForm" (ngSubmit)="addContent()">
    <label for="title">Titre:</label>
    <input type="text" id="title" formControlName="title" />

    <label for="year">Année:</label>
    <input type="number" id="year" formControlName="year" />

    <label for="image">Image:</label>
    <input type="text" id="image" formControlName="image" />

    <!-- Ajoutez des champs pour les genresIds si nécessaire -->

    <button type="submit" [disabled]="contentForm.invalid">Ajouter</button>
  </form>
</div>
